.NAV{
    display: grid;
    margin-top: 80px;

    .NAV_A{
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 45px;
    }

    .NAV_H6{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 60px;
    }
}